package boot

import (
	"context"

	"github.com/995933447/easymicro/elect"
)

func InitElect(ctx context.Context) error {
	err := elect.InitElect(ctx, &elect.Options{Driver: elect.Driver{{ UpperFirstChar .ElectDriverName }}, {{ UpperFirstChar .ElectDriverName }}ConnName: "{{.ElectDriverConn}}"})
	if err != nil {
		return err
	}

	return nil
}
